footer
{
	width: 100%;
  	height: 12%;
	position: absolute;
	bottom: 0;
}



.footer-item
{
	text-align: right;
	padding: 0 10px;
}

@media screen and (max-width: 575.98px){
	footer{
		position: relative;
		
	}
}
