*
{
	font-family: 'Ubuntu', sans-serif;
	box-sizing: border-box;
}

html {
	width: 100%;
	/*height: 100%;*/
	max-width: 100%;
}

body
{
	position: relative;
	height: 100%;
	/*background-image: url("https://media.coindesk.com/uploads/2017/08/Blockstream_Satellite_Image.png");*/
	background-image: url("https://2012books.lardbucket.org/books/geographic-information-system-basics/section_08/35c6cf67d10d13cb5e9b0eb2884a1393.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	color: rgb(18, 169, 235);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header{
	/*display: flex;*/
	order: 1;
}
main{
	/*display: flex;*/
	order: 2;
}
footer{
	/*display: flex;*/
	order: 3;
}


.block-anchor
{
	display: block;
	text-align: right;
	color: rgb(18, 169, 235);
}

.block-anchor:hover{
	color: rgb(240, 240, 240);
}

@media screen and (min-width: 576px){
	html{
		height: 100%;
		max-height: 100%;
	}
}


