header
{
	width: 100%;
  	height: 15%;
	position: absolute;
	top: 0;
}

.header-font{
  font-size: 3.5em;
}

@media screen and (max-width: 576px)
{
	header{
		position: relative;
		top: 0;
		height: 20%;
		box-sizing: content-box;
	}
}
